html {
    font-family: Roboto, Arial, sans-serif;
}

img {
    max-width: 95%;
}

header h1 {
    color: white;
    background-color: #007682;
    padding: 3px;
    padding-left: 6px;
}

h2, h3, h4, h5, h6, h7, h8, h9 {
    color: #12404F;
    margin-top: 48px;
    margin-bottom: 20px;
}

a, a:link, a:visited, a:hover, a:active {
  color: #007682;
}

header {
  padding: 16px 6px 6px 16px;
  margin-top: 5px;
}

footer {
    background-color: #E6F1F3;
    padding: 24px;
    color: black;
    clear: both;
    float: none;
    font-size: 11px;
}

.footerLink {
    color: black !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #12404F;
  color: white;
}

table caption {
    text-align: left;
}

figcaption {
    font-style: italic;
}

.column {
	float: left;
	display: flex;
	flex-direction: column;
}
.left {
    width: 5%;
}
.middle {
    width: 70%;
}
.right {
    width: 25%;
    float: right;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.boxed {
  border-radius: 18px;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #EFEFEF;
}


.tips_box {
  border-radius: 18px;
  background: #E6F1F3;
  padding: 20px;
  border: 1px solid #EFEFEF;
}

.warning_box {
  border-radius: 18px;
  background: #ffe4e1;
  padding: 20px;
  border: 1px solid #EFEFEF;
}


.center {
    text-align: center;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: table;
    font-size: 90%;
    margin-bottom: 1em;
    padding: 12px;
    padding-right: 14px;
    width: auto;
    margin: 8px;
    float: right;
}
@media print
{
	#toc_container {
		display: none !important;
	}
	.right {
		width: 2%;
	}
}

.toc_title {
    font-weight: bold;
    color: #12404F;
    text-align: left;
    font-size: 150%;
    margin-top: 0px;
}

#toc_container ul, #toc_container ul li, #toc_container ul li p {
    list-style: outside none none !important;
	margin-bottom: 0px;
    margin-top: 0px;
}

#toc_container ol > li {
    list-style-type: decimal !important;
}

#toc_container li a {
    text-decoration: none;
}

#toc_container li a:hover {
    text-decoration: underline;
}

.lang_nav {
    font-weight: lighter;
    color: #12404F;
    text-align: center;
    font-size: small;
    margin-top: 0px;
	align: center;
}

pre {
	font-size: large;
}