/*Variables*/
:root {
    --background-color-pink-red: #efdeea;
    --background-color-light-dark-green: #007682;
    --content-text-color-white: #d5d4d4;
    --content-text-color-dark-green: #003237;
    --api-template-box-background-color: #333333;
    --slightly-darker-white-border-color: #EFEFEF;
}

html, body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #EDF5F6;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.5;
}

header {
    background-color: var(--background-color-light-dark-green);
    padding: 20px 145px 20px 145px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main {
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a, a:link, a:visited, a:hover, a:active {
  color: var(--background-color-light-dark-green);
}

footer {
    background-color: #E6F1F3;
    padding: 24px;
    color: black;
    font-size: 11px;
    text-align: center;
}

.footerLink {
    color: black !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.noborder {
  border: none;
  background-color: #ffffff !important;
}

tr {
    background-color: #ffffff;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #12404F;
  color: white;
}

table caption {
    text-align: left;
}

figcaption {
    font-style: italic;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left {
    align-items: flex-start;
}
.middle {
    align-items: center;
}
.right {
    align-items: flex-end;
}

blockquote {
   font-style: italic;
}

.boxed-mobile-display, blockquote {
    width: 22rem;
    height: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 18px;
    background: var(--api-template-box-background-color);
    padding: 20px;
    color: var(--content-text-color-white);
}

.boxed-medium-display {
    display: none;
}

.tips_box {
  border-radius: 18px;
  background: var(--background-color-pink-red);
  padding: 20px;
  border: 1px solid var(--slightly-darker-white-border-color);
  display: flex;
    font-size: 1.5vh;
    flex-direction: column;
  justify-content: center;
    text-align: center;
}

.document-api .tips_box {
    font-size: 2vh;
}

.mo-api .tips_box {
    font-size: 2vh;
}

.tips_box_normal {
    border-radius: 18px;
    background: var(--background-color-pink-red);
    padding: 20px;
    border: 1px solid var(--slightly-darker-white-border-color);
}

.warning_box {
  border-radius: 18px;
  background: #ffe4e1;
  padding: 20px;
  border: 1px solid var(--slightly-darker-white-border-color);
}


.center {
    text-align: center;
    background-color: white;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 6px;
    display: table;
    font-size: 90%;
    padding: 12px 14px 12px 12px;
    width: auto;
    margin: 8px 8px 1em;
    float: right;
}
@media print
{
	#toc_container {
		display: none !important;
	}
	.right {
		width: 2%;
	}
}

.toc_title {
    font-weight: bold;
    color: #12404F;
    text-align: left;
    font-size: 150%;
    margin-top: 0;
}

#toc_container ul, #toc_container ul li, #toc_container ul li p {
    list-style: outside none none !important;
	margin-bottom: 0;
    margin-top: 0;
}

#toc_container ol > li {
    list-style-type: decimal !important;
}

#toc_container li a {
    text-decoration: none;
}

#toc_container li a:hover {
    text-decoration: underline;
}

.nav-language-button {
    background-color: #B6D8DB;
    color: #004C54;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    border-radius: 5px;
    width: 5rem;
    box-sizing: border-box;
    padding: 0.5rem 0 0.5rem 0;
}

.lang_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.nav-language-button:hover {
    background-color: #D1E6E8;
    border: 2px solid #004C54;
}

pre, code {
	font-size: large;
}

.buttons-section {
    display: grid;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.new-page-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #B6D8DB;
    color: #004C54;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 550;
    cursor: pointer;
    height: 300px;
    width: 250px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.deklarasjons-meldinger .new-page-button {
    height: 250px;
    width: 210px;
}

.new-page-button div {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 2.2rem;
    height: 2.2rem;
    transition: transform 0.3s ease;
}

.transport-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7rem;
}

.transport-icon {
    width: 100px;
    height: 100px;
}

.new-page-button:hover {
    background-color: #D1E6E8;
}

.new-page-button:hover div {
    transform: translateX(10px);
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-section-text {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 345px;
    color: var(--content-text-color-dark-green);
}

h1, h2, h3, h4 {
    color: #006B76;
}

p {
    color: var(--content-text-color-dark-green);
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 0;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 0.5rem;
    color: #6c757d;
}

.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.text-and-button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text-and-button-section div {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 650px;
}

.two-column-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: start;
}

.spaced-list li {
    margin-bottom: 2rem;
}

.ics2-forsendelser .about-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    align-items: start;
    width: 100%;
}

.ics2-forsendelser .about-section-text {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 680px;
    color: var(--content-text-color-dark-green);
}

.valideringsfeil pre {
    border-radius: 18px;
    background: var(--api-template-box-background-color);
    padding: 20px;
    color: var(--content-text-color-white);
    width: 665px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.valideringsfeil .about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.valideringsfeil .about-section-text {
    max-width: 720px;
}

.grid-two-columns-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(-1px, 1fr));
    gap: 20px;
}

.endringer-mo-innsendinger .grid-two-columns-container {
    grid-template-columns: none;
}

dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: #000000;
}

dialog::backdrop {
    background: rgba(0,0,0,0.9);
}

dialog img {
    background-color: white;
    max-width: 100%;
    max-height: 90vh;
    margin-top: 35%;
    display: block;
}

.image-size {
    width: 100%;
    height: auto;
}

.image-border img {
    border: 1px solid #B6BDBD;
}
.mo-table-width {
    width: 5px;
    font-size: 13px;
}

.sentrale-dataelementer-parent-div {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
}

.flag-rounded {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.maskinporten .image-size {
    width: auto;
    height: 25rem;
}

.align-self-start {
    align-self: start;
}

/*.kobling-oppdatering-sletting .align-self-start {*/
/*    width: 137vh;*/
/*}*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007682;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#scrollToTopBtn:hover {
    background-color: #555;
}

.hvordan-sende-inn-meldinger .buttons-section {
    justify-content: start;
}

.synkrone-grid-two-columns-container {
    display: grid;
    row-gap: 40px;
}

.medium-screen-hidden {
    display: none;
}

.mo-vei .flex-column {
    width: auto;
    font-size: 12px;
}

.ics2-forsendelser .flex-column {
    width: auto;
    font-size: 12px;
}

.content-box {
    border-radius: 18px;
    background: var(--background-color-light-dark-green);
    padding: 10px 20px 10px 10px;
    color: var(--content-text-color-white);
}

.content-box a {
    color: var(--content-text-color-white);
}

.content-box h2 {
    color: var(--content-text-color-white);
}

@media (min-width: 1024px) {
    header {
        justify-content: space-between;
    }

    main {
        padding: 20px 400px 20px 400px;
    }

    .about-section {
        flex-direction: row;
        gap: 0;
    }

    .funksjonell-beskrivelse .about-section {
        flex-direction: column;
        gap: 0;
    }

    .mo-eksempler .about-section {
        flex-direction: column;
        gap: 0;
    }

    .funksjonell-beskrivelse .about-section-text {
        max-width: 780px;
    }

    .two-column-section {
        flex-direction: row;
        gap: 3rem;
    }

    .boxed-mobile-display {
        display: none;
    }

    .boxed-medium-display {
        display: block;
        width: auto;
        border-radius: 18px;
        background: var(--api-template-box-background-color);
        padding: 20px;
        color: #d5d4d4;
    }

    .tips_box {
        align-items: center;
    }

    .buttons-section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        justify-content: center;
    }

    .melde-og-opplysning .buttons-section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        justify-content: start;
    }

    .image-size {
        width: 100%;
        height: 516px;
    }

    .text-and-button-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .mo-table-width {
        width: auto;
        font-size: 100%;
    }

    .about-section-text {
        max-width: 650px;
    }

    .sentrale-dataelementer-parent-div {
        display: block;
        flex-direction: row;
        gap: 0;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
        font-size: 100%;
    }

    .grid-two-columns-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    .valideringsfeil .grid-two-columns-container pre {
        height: auto;
    }

    .valideringsfeil .grid-two-columns-container {
       width: 30rem;
        column-gap: 5rem;
    }

    .kobling-oppdatering-sletting .image-size {
        width: 80vh;
        height: 40vh;
    }

    .index .buttons-section {
        display: flex;
        justify-content: flex-start;
    }

    .index-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}